.logo {
    height: 90px;
    width: 150px;
}

.container-fluid {
    @media (min-width: 991px) {
        padding: 2em;

    }
}

.logo {
    @media (min-width: 991px) {

        margin-left: 7em;
    }
}

.container_items {

    @media (min-width: 991px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 3em;
        gap: 8em;
        align-items: center;
    }


}