.logo {
    height: 90px;
    width: 150px;

}

.container-fluid {
    @media (min-width: 991px) {
        padding-left: 13rem;
    }
}

.container_items {

    @media (min-width: 991px) {
        display: flex;
        flex-direction: row;
        gap: 8em;

    }


}